body
{
	height: 100vh;
	margin: 0px;
	
	display: grid;
	grid-template:
		/* "toolbar" 2em */
		"editor" min-content
		"output" 1fr
		/ 100vw
	;
	
	background-color: #9e9e9e;
	font-family: sans-serif;
}

#toolbar
{
	grid-area: toolbar;
	
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/* #toolbar > *
{
} */

#editor-box
{
	grid-area: editor;
	min-height: 7em;
	max-height: 90vh;
	height: 40vh;
	resize: vertical;
	overflow: hidden;
	border: none;
}

#tabs
{
	padding: 5px 5px 0px 5px;
}

#tabs .tab
{
	display: inline-block;
	
	width: 3.5em;
	margin-right: 5px;
	padding: 5px;
	
	background-color: #909090;
	border: 2px solid black;
	border-bottom: none;
	cursor: pointer;
}

#tabs .tab.selected
{
	background-color: #9e9e9e;
	font-weight: bold;
}

#editor
{
	height: 100%;
}

iframe
{
	grid-area: output;
	width: 100%;
	height: 100%;
}
